body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/* Try to make a footer without that position property! */
.footer { 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  height: auto;
  background: royalblue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  border: solid;
  margin: 10px 20px 0 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  height: 200px;
  width: 400px;
  
}

.card-container {
  margin: 0 auto;
  height: 90vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background: pink;
}

.center-wrap {
  display: flex;
  gap: 60px;
  border: 5px solid black;
}