@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
}

.header {
  background: peachpuff;
  display: flex;
  height: 10vh;
}

.left-links {
  flex: 1;
  margin-left: 5vw;
  height: 5vh;
  width: auto;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  margin-bottom: 25vh;
  flex: 1;
  flex-direction: column;
}

.right-links {
  flex: 1;
  margin-right: 5vw;
  height: 5vh;
  width: auto;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2vw;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 50px 15px 0px;
}

.buttons {
  margin-bottom: 0px;
}

input {
  display: block;
  color: darkgreen;
  background: peachpuff;
  border: 1px solid #ddd;
  border-radius: 40px 5px 0px 0px;
  padding: 8px 24px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 16px;
}

p {
  display: inline;
  color: lightgray;
  width: auto;
}

input[placeholder] {
  text-align: center;
}

.footer {
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: lightgray;
  margin-top: auto;
  padding: 16px;
  min-width: auto;
  position: fixed;
  width: 100%;
  bottom: 0;
}